.Background {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center; 
    justify-content: center;
    background: #ca5959;
}

.LoginModal {
    display: flex;
    flex-direction: column;
    background: white;
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.LoginForm {
    display: flex;
    flex-direction: column;
    margin: 10px, 10px;
    align-items: center;
}

p {
    user-select: none;
}