
.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100px;
    background: #bdc3c7;
}

.Main {
    display: flex;
    height: 100vh;
    background: #16a085;
}

.StyledIcon {
    display: flex;
    width: 70px;
    height: 50px;
    background: #8e44ad;
    margin: 10px;
    align-items: center;
    justify-content: center;
}