.ClickableText {
    display: flex;
    margin: 7px;
    height: 100px;
    width: 100%;
    justify-content: center;
    color: cornflowerblue;
    cursor: pointer;
    font-size: 14px;
}

.ClickableText:hover {
    background: #eaeaea;;
    transition: 0.6s;
}
